@page "/inventories"

@using IMS.WebApp.Components.Controls
@using IMS.WebApp.Components.Controls.Inventories

<h3>InventoryList</h3>

<SearchComponent SearchCallback="OnSearch" />

<InventoryListComponent NameForSearch="@nameForSearch" />

<a href="/inventory/add" class="btn btn-dark">Add Inventory</a>

@code {
    private string nameForSearch = string.Empty;

    public void OnSearch(string searchFilter)
    {
        nameForSearch = searchFilter;
    }
}
