@page "/inventories"
@rendermode InteractiveServer
@attribute [Authorize(Policy = "Inventory")]

@using IMS.WebApp.Components.Controls
@using IMS.WebApp.Components.Controls.Inventories

<h3>物料管理</h3>

<SearchComponent SearchCallback="OnSearch" />

<InventoryListComponent NameForSearch="@nameForSearch" />

<a href="/inventory/add" class="btn btn-dark">添加物料</a>

@code {
    private string nameForSearch = string.Empty;

    public void OnSearch(string searchFilter)
    {
        nameForSearch = searchFilter;
    }
}
