<div class="input-group mb-3">
    <input class="form-control" placeholder="输入查询名称" @bind-value=NameForSearch @onkeyup=OnKeyUp />
    <button type="button" class="btn btn-primary" @onclick=Search>查询</button>
</div>

@code {
    private string NameForSearch { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> SearchCallback { get; set; }

    private void Search() 
    {
        SearchCallback.InvokeAsync(NameForSearch);
    }

    private void OnKeyUp(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Search();
        }

    }
}
