@using IMS.CoreBusiness
@using IMS.UseCases.Inventories
@using IMS.UseCases.Inventories.Interfaces

@inject NavigationManager NavigationManager
@inject IDeleteInventoryByIdUserCase DeleteInventoryByIdUserCase

@if (Inventory is not null)
{
    <tr>
        <td>@Inventory.Name</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td>
            <a href="/inventory/edit/@Inventory.Id" class="btn btn-light">编辑</a>
        </td>
        <td>
            <button type="button" class="btn btn-danger" @onclick=DeleteInventory>删除</button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Inventory? Inventory { get; set; }

    private async Task DeleteInventory()
    {
        if (Inventory is not null)
        {
            await DeleteInventoryByIdUserCase.ExecuteAsync(Inventory.Id);
            Inventory = null;
        }
    }
}
